/* Gallery Container */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .gallery-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
    height: 100%;
    width: 48%; /* Portrait oder Landscape Elemente nebeneinander */
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 0.3s ease;
  }
  
  .gallery-item.landscape {
    width: 48%; /* Landscape auf der rechten Seite */
  }
  
  .gallery-item.portrait {
    width: 48%; /* Portrait auf der linken Seite */
  }
  
  .gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }